img {
    opacity: 0.5;
}

img:hover {
    opacity: 1.0;
}
.thick-green-border {
    border-color: green;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
  }

  .smaller-image {
    width: 100px;
  }

.header {
  background-color: aliceblue;
  padding: 100PX;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center; 
 }
 

body {
  padding: 0px;
}
