<div class="container">
  <div class="page">
    <h1>Overview</h1>
    <table>

      <tr>
        <th>
          Title
        </th>
        <th>
          Value
        </th>
      </tr>

      <tr>
        <td>
          Organization
        </td>
        <td>
          {{org_name}}
          <tr>
            {{obj.location}}
          </tr>
        </td>
      </tr>

      <tr>
        <td>
          Role Description
        </td>
        <td>
          {{obj.description}}
        </td>
      </tr>
      <hr />
      
      <h1>Backgrounds</h1>
      <tr>
        <td>
          Background
        </td>
        <td *ngFor="let back of background">
          {{back.name}}
        </td>
      </tr>
      
      <tr>
        <td>
          Skills
        </td>
        <td *ngFor="let skill of skills">
          {{skill.name}}
        </td>
      </tr>

      <tr>
        <td>
          Nationalities
        </td>
        <td>
          {{obj.nationalities[0].name}}
        </td>
      </tr>

      <tr>
        <td>
          Selection Process
        </td>
        <td>
          {{obj.role_info.selection_process}}
        </td>
      </tr>

      <h1>Visa and Logistics</h1>
      <tr>
        <td>
          Working hours
        </td>
        <td>
          {{obj.specifics_info.expected_work_schedule.from}}
        </td>
      </tr>
      
      <tr>
        <td></td>
        <td>
          {{weekend}}
        </td>
      </tr>

      <tr>
        <td>
          Visa
        </td>
        <td>
          <tr>
            <th>
            VISA TYPE
            </th>
          </tr>
          <tr>
            <td>
              {{obj.legal_info.visa_type}}
            </td>
          </tr>
        </td>
      </tr>

        <tr>
          <td>
          </td>
          <td>
            <tr>
              <th>
              VISA DURATION
              </th>
            </tr>
            <tr>
              <td>
                {{obj.legal_info.visa_duration}}
              </td>
            </tr>
          </td>
        </tr>

        <tr>
            <td>
            </td>
            <td>
              <tr>
                <th>
                VISA LINK
                </th>
              </tr>
              <tr>
                <td>
                  {{obj.legal_info.visa_link}}
                </td>
              </tr>
            </td>
          </tr>

          <tr>
            <td>
              Health Insurance
            </td>
            <td>
              {{obj.legal_info.health_insurance_info}}
            </td>
          </tr>

          <tr>
              <td>
                Host AIESEC office
              </td>
              <td>
                {{obj.host_lc.full_name}}
              </td>
            </tr>
    </table>
    <editable-modal-component [editableData]="editableData"></editable-modal-component>
  </div>
</div>

<div class="container">
    <div class="form-group">
        <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control"
            #search [formControl]="searchControl">
    </div>
    <agm-map style="height: 300px;" [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
        <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
    </agm-map>
    <button class="btn btn-lg btn-outline-primary" (click)="update()"><i>Update</i></button>
</div>